@media (max-width:1440px) and (max-height:800px) {
    .main {
        &__wrapper {
            bottom: 10%;
        }
    }
}

@media (max-width: 768px) {
    .main {
        &__wrapper {
            gap: 25px;
            bottom: 15%;

        }
        &__content {
            &__arrow {
                width: clamp(100px, 10vw, 500px);
                right: 34%;
                top: -5%;
                transform: rotate(110deg) scaleX(-1);
            }
            &__text {
                position: absolute;
                width: 100%;
                font-size: clamp(14px, 1.5vw, 24px);
                top: -30%;
                right: 0;
                text-wrap: pretty;
                span {
                    font-size: clamp(12px, 1.5vw, 20px);
                }
            }
            &__child {
                transform: translateX(0);
            }
        }
    }
}

@media (max-width:680px) {
    .main {
        &__wrapper {
            gap: 25px;
        }
        &__content {
            &__arrow {
                width: clamp(100px, 10vw, 500px);
                right: 26%;
                top: -5%;
                transform: rotate(130deg) scaleX(-1);
            }
        }
    }
}


@media (max-width: 426px) {
    .main {
        background: url('/img/bg_6.webp') no-repeat 50%/100% 100% scroll;
        mask-image: linear-gradient(to bottom,  #000 90%, transparent);
        height: 100svh;
        &__wrapper {
            gap: 35px;
        }
        &__content {
            &__arrow {
                width: clamp(120px, 10vw, 500px);
                right: 20%;
                top: -5%;
                transform: rotate(110deg) scaleX(-1);
            }
            &__text {
                position: absolute;
                width: 100%;
                font-size: clamp(14px, 1.5vw, 24px);
                top: -17vh;
                right: 0;
            }
        }
    }
}

@media (max-width: 375px) {
    .descr {
        &_programm {
            font-size: 12px;
            span {
                font-size: 14px;
            }
        }
    }
    .programm {
        &__wrapper {
            grid-template-columns: 75px 50vw;
        }
    }
}



@media (min-width: 768px) {
    .programm {
        &__img {
            &__for-dot {
                width: 200px;
            }
        }
    }
    .main {
        background: url('/img/bg_5.webp') no-repeat 50%/100% 100% scroll;
        mask-image: linear-gradient(to bottom,  #000 90%, transparent);
    }
}


@media (hover: none) {
    .restaurant {
        &__img {
            background: url('/img/metallist.webp') no-repeat 50%/cover scroll;
        }
    }
}
